@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
    font-family: "Poppins", sans-serif;
}
:root {
    --mainSidebarWidth: 16rem;
    --mainColor: #fec541;
    --btnColor: rgb(7, 153, 51);
}
.dropdown-menu-center {
    right: auto;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}
.dropdown-item:focus,
.dropdown-item:active {
    background-color: grey !important;
}
@media (min-width: 768px) {
    #main-header,
    #main-content {
        margin-left: var(--mainSidebarWidth);
    }

    #mainSidebar {
        visibility: visible;
        transform: none !important;
        width: var(--mainSidebarWidth) !important;
    }

    #mainSidebar .btn-close {
        display: none;
        border-radius: 0px;
    }
}
#main-header {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#mainSidebar {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background: var(--mainColor);
    border-radius: 0px 0px 10px 0px;
}
.list-style-none {
    list-style: none;
}
#navbar{
    background-color: var(--mainColor);
}
.btn-bg{
    background-color: var(--btnColor);
}
.main-bg{
    background-color: var(--mainColor);
}
.activated{
    border-bottom: 2px solid darkgreen;
}
.activeDashboard{
    background-color: #E8C872;
    color: #0b0b0b;
    border-radius: 5px;
}
.login-page{
    max-width: 500px !important;
}
.nav-logo{
    max-height: 80px;
}
#hero{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
}
.msg{
    background: rgba( 255, 255, 255, 0.2 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 3px );
-webkit-backdrop-filter: blur( 3px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.cont{
    padding-top: 7%;
}
.txt{
    text-shadow: 2px 2px 3px rgb(7, 2, 2);
}
.fs-12{
    font-size: 10px !important;
}
.side-icon{
    max-height: 80px !important;
}
.fs-style{
    font-family: 'Times New Roman', Times, serif;

}
.pagination .page-item.active .page-link {
    background-color: var(--mainColor) !important; /* Replace with your desired color */
    color: #0b0b0b;
    border-color: var(--mainColor) !important; /* Border color */
}
.whole-bg{
    background: rgb(11,93,15);
background: linear-gradient(191deg, rgba(11,93,15,1) 49%, rgba(200,202,200,1) 100%);
}
.social{

    max-width: 250px;
}
.social-media{
    color: white;
}
.social-media:hover{
    color: var(--mainColor);
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: var(--mainColor);
    color: darkgreen;
    cursor: pointer;
    padding: 15px;
    border-radius: 50px;
  }

  #myBtn:hover {
    background-color:var(--btnColor);
    color: yellow;
  }
.footer-icon{
    max-height: 100px;
}
.text-lh{
    line-height: 15px;
    font-size: 19px;
}
.footer-text{
    font-size: 12px;
}
.footer-bg{
    background-image: linear-gradient(
  35deg,
  hsl(120deg 97% 37%) 0%,
  hsl(119deg 96% 35%) 5%,
  hsl(119deg 96% 34%) 10%,
  hsl(118deg 96% 32%) 15%,
  hsl(118deg 95% 31%) 20%,
  hsl(117deg 95% 29%) 25%,
  hsl(117deg 94% 28%) 30%,
  hsl(117deg 94% 26%) 35%,
  hsl(117deg 93% 26%) 40%,
  hsl(117deg 93% 26%) 45%,
  hsl(117deg 92% 26%) 50%,
  hsl(117deg 92% 26%) 55%,
  hsl(117deg 91% 26%) 60%,
  hsl(117deg 91% 26%) 65%,
  hsl(118deg 90% 25%) 70%,
  hsl(118deg 90% 24%) 75%,
  hsl(119deg 89% 23%) 80%,
  hsl(120deg 88% 22%) 85%,
  hsl(120deg 89% 20%) 90%,
  hsl(121deg 90% 19%) 95%,
  hsl(121deg 91% 18%) 100%
) !important;
}
.uploaded{
    max-height: 250px;
}
